django
gunicorn
elasticsearch
elasticsearch-dsl==2.1.0
mysql
mysql-connector
torndb
sqlalchemy
pyyaml
kafka-python
pykafka
retrying
gevent
redis
pymongo
requests==2.12.0
django-crontab
celery
xlwt
statsd
tornado
django-tornado-websockets
galaxy-sdk-python
ecdsa
galaxy-fds-sdk